.image{
    margin: 60px auto auto 20px;
}
.a1{ display: flex;
    position: fixed;
    width: 90%;
    background-color: rgb(228, 228, 228);
    padding: 10px;
    margin: 5px;
    bottom: 0px;
    border-radius: 15px;
}
.a1 button{
    border:none;
    font-size: x-large;
   border-radius:15px ;
   cursor: pointer;
   padding: 10px;
   background-color: red;
   color: white;
}
.a1 button:hover{
    background-color:  brown;
}
.a1 h3{
    margin-left: auto;
    padding-right: 10px;
    font-size: x-large;
    font-weight:500 ;
}
.a1 h2{
    padding: 5px 5px 5px 2px;
}
.b{
margin:auto 20px ;
font-size: x-large;
}
.b img{
    border-radius: 15px;
}
.footer1 {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90vh;
    background-color: gray;
    color: white;
    width: 100%;
    text-align: center;
    font-size:80%;
}
.likes {
    text-align: center;
    padding: 10px;
}
.cardBody {
   
    padding: 10px;
}
.card{
  margin: 5px auto;
}
.footer1 div{
    margin: 15px 2%;
    padding: 5px;
    text-align: left;
}
.footer1 a{
    text-decoration: none;
    color: white;
    font-style: italic;
}
.navbar{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
.navbar-toggler{
    border: none !important;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background: rgba(224, 13, 13, 0.1);
    backdrop-filter: blur(30px);
    color: brown;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 60px;
    font-size: 25px;
    font-weight: 800;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 60px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top:60px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 60px; opacity: 1;} 
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 60px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }